p {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:20px; color:reddish;}
p1 {color:blue;
   font-size:40px;}
#home {
  background:content-box radial-gradient(crimson, skyblue);
}
.header{  background:content-box radial-gradient(rgb(31, 30, 30), skyblue);

}
  body{
    background-image:url("canada.jpg");
    }       
p{columns: 3;
column-span: all;}
  h1
  { font-size:50px; text-align:center; color:reddish;}
  75% {
  font-size: 300%;
  margin-left: 25%;
  width: 150%;
}
p1 {
  animation-duration: 6s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  85% {
    font-size: 300%;
    margin-right: 35%;
    width: 150%;
  }

  to {
    margin-right: 100%;
    width: 100%;
  }
}
  h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
