/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

/* OBJECTS */
* {
  box-sizing: border-box;
}

.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}

p {
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
}

#mySidenav a,
.nav-title { /* NOTES: By adding a , and the selector .nav-title to this rule means they will share styles, and appear like the other <a> tags in the menu. */
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

/* NOTES: I moved the rule for .nav-title closer to the other nav rules to make it easier to find. */
.nav-title {
  color: black;
  font-size: 30px;
  left: -10px;
  top: 0;
}

#mySidenav a:hover {
  left: 0;
}

#Home {
  top: 50px;
  background-color: #4CAF50;
}

#mystory {
  top: 100px;
  background-color: #2196F3;
}

#about {
  top: 150px;
  background-color: #f44336;
}

#resume {
  top: 200px;
  background-color: rgb(18, 212, 203);
}

#links {
  top: 250px;
  background-color: red;
}

#contact {
  top: 300px;
  background-color: rgb(77, 221, 58);
}

h2 {
  animation-duration: 6s;
  animation-name: slidein;
}

.header {
  background: content-box radial-gradient(rgb(31, 30, 30), skyblue);
  display:flex;
  justify-content:space-between;
}

h1 { /* NOTES: There were two rules applied to the h1 selector. I combined them and removed the extra animation rule for the slidein keyframe. Once a keyframe animation rule is created, you can use it multipule times in the same style sheet. That way you have less code to maintain. */
  font-size: 40px;
  background: content-box radial-gradient(rgb(31, 30, 30 .4), skyblue);
  animation-duration: 3s;
  animation-name: slidein; /* NOTES: This will use the keyframe rule on line 292 */
  padding-left: 40px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2 {
  animation-duration: 6s;
  animation-name: slidein; /* NOTES: This will use the keyframe rule on line 292 */
}

.logo {
  float: right;
  width: 50px;
}

body {
  margin: 0;
  background: url("./img/sky1.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #333;
  font: 100% Lato, Arial, Sans-Serif;
  height: 100vh;
  margin: 0 0 0 100px; /* NOTES: I've added a margin to left of the whole page to allow for the width of the navigation. This makes is easier to position all the other elements on the page. */
  padding: 0;
  overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.img {
  width: 250px;
  border-radius: 40px;
  border: 20px ridge deepskyblue;
  margin-top: 25px;
}

.one {
  color: whitesmoke;
  font-size: 10px;
}

.logo {
  float: left;
  width: 150px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 255, 0.3);
  color: #fff;
}

#change {
  color: cyan;
  font-size: 20px;
}

.slide {
  color: white;
  font-size: 3em;
  animation-duration: 3s;
  animation-name: slidein; /* NOTES: This will use the keyframe rule on line 82 */
}

.text-container {
  border-radius: 53px;
  margin: 10%;
  padding: 30px;
  color: whitesmoke;
  background-color: rgba(15, 15, 15, 0.5);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.page-title {
  font-size: 25px;
  color: white;
}

table, td {
  border: 10px solid rgb(26, 2, 71);
  table-layout: auto
}

thead, tfoot {
  background-color: rgb(36, 2, 2);
  color: rgb(91, 214, 19);
  text-shadow: 0vmax;
}

.color {
  color: rgb(230, 226, 175);
  font-size: 35px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex {
  display: flex;
}

#teams { /* NOTES: Try to use classes instead of id when possible. You can have many classes on the same element. */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#teams td, #teas th {
  border: 1px solid #ddd;
  padding: 8px;
}

#teams tr:nth-child(even) {
  background-color: #f2f2f2;
}

#teams tr:hover {
  background-color: rgb(230, 111, 210);
}

#teams th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(240, 137, 137, 0.8);
  color: white;
}

.resume-container {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.resume-link {
  /* NOTES: Instead of absolute positioning to center this content, let's use grid or flex box. */
  display: block;
  width: auto;
  background-color: rgba(0, 0, 0, .5);
  border: 3px ridge gray;
  border-radius: 35px;
  padding: 30px;
  font-size: 25px;
  color: whitesmoke;
  font-family: cursive;
}

#gif {
  width: 200px;
  border: 10px double cyan;
  border-radius: 20px;
}

.button {
  color: white;
  font-size: 30px;
}

.thx {
  float: right;
  width: 200px;
}

h2 {
  color: black;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#contact {
  margin: auto;
  width: auto;
  border-block-start-color: cornflowerblue;
  border-block-end-color: aqua;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* FORM ELEMENTS */
.element {
  color: aqua;
  font-size: large;
  padding: 20px; /* NOTES: Padding is always a good idea when framing content inside a box. */
}

label {
  display: block;
}

fieldset { /* NOTES: Added this to remove the borders on all fieldsets. */
  border: none;
}

.team-container {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.team-image {
  color: white;
  border: 10px ridge rgba(255, 255, 255, 0);
  border-radius: 35px;
  width: 100%;
  display: block;
}

.container {
  border-radius: 5px;
  padding: 10px;
  margin-left: 100px;
  margin-bottom: 50px;
}

user agent stylesheet div {
  display: block;
}

body {
  font-family: Times New Roman;
  margin-block-end: 1em;
  display: block;
  margin-top: 0em;
}

input[type=text], select, textarea, input[type=tel] {
  width: 35%;
  padding: 9px;
  border: 1px solid pink;
  border-radius: 50px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: 5px 8px palevioletred;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  - text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

user agent stylesheet input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
}

.harar {
  display: flex;
  float: right;
  border-radius: 25px;
}

.tokko {
  width: 750px;
  padding: 25px;
  border: 2px dashed purple;
  border-radius: 35px;
  margin-right: 251px;
  color: whitesmoke;
  font-size: 15px;
}

.lama {
  width: 750px;
  padding: 25px;
  border: 2px dashed purple;
  border-radius: 35px;
  margin-right: 140px;
  color: whitesmoke;
  font-size: 15px;
}

.sadi {
  width: 750px;
  padding: 25px;
  border: 2px dashed purple;
  border-radius: 35px;
  margin-right: 120px;
  color: whitesmoke;
  font-size: 15px;
}

.p-container {
  border-radius: 53px;
  margin-right: 30px;
  padding: 30px;
  background-color: rgba(214, 22, 189, 0.4);
  flex: 1;
}

.ethio {
  max-width: 700px;
  width:100%;
  border-radius: 20px;
}

iframe {
  height: 400px;
  margin: 1%;
  width: 45%;
}

iframe[Attributes Style] {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

user agent stylesheet iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
