p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
}

#mySidenav a,
.nav-title { /* NOTES: By adding a , and the selector .nav-title to this rule means they will share styles, and appear like the other <a> tags in the menu. */
  position: absolute;
  left: -120px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

/* NOTES: I moved the rule for .nav-title closer to the other nav rules to make it easier to find. */
.nav-title {
  color: black;
  font-size: 30px;
  left: -10px;
  top: 0;
}

#mySidenav a:hover {
  left: 0;
}

#Home {
  top: 50px;
  background-color: #4CAF50;
}

#mystory {
  top: 100px;
  background-color: #2196F3;
}

#about {
  top: 150px;
  background-color: #f44336;
}

#resume {
  top: 200px;
  background-color: rgb(18, 212, 203);
}

#links {
  top: 250px;
  background-color: red;
}

#contact {
  top: 300px;
  background-color: rgb(77, 221, 58);
}

.header {
  background: content-box radial-gradient(rgb(31, 30, 30), skyblue);
  display:flex;
  justify-content:space-between;
}

h1 { /* NOTES: There were two rules applied to the h1 selector. I combined them and removed the extra animation rule for the slidein keyframe. Once a keyframe animation rule is created, you can use it multipule times in the same style sheet. That way you have less code to maintain. */
  font-size: 40px;
  text-align: center;
  color: blue;
  background: content-box radial-gradient(rgb(31, 30, 30 .4), skyblue);
  animation-duration: 3s;
  animation-name: slidein; /* NOTES: This will use the keyframe rule on line 82 */
  padding-left: 40px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2 {
  animation-duration: 6s;
  animation-name: slidein; /* NOTES: This will use the keyframe rule on line 82 */
}

.logo {
  float: right;
  width: 50px;
}

body {
  background: url("./img/cover15.png") no-repeat center center fixed;
  background-size: cover;
  color: #333;
  font: 100% Lato, Arial, Sans Serif;
  height: 100vh;
  margin: 0 0 0 100px; /* NOTES: I've added a margin to left of the whole page to allow for the width of the navigation. This makes is easier to position all the other elements on the page. */
  padding: 0;
  overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.img {
  float: right;
  width: 150px;
  border-radius: 25px;
  border: 2px solid gray;
}

.one {
  color: whitesmoke;
  font-size: 10px;
}

.two {
  color: whitesmoke;
  font-size: 10px;
}

.three {
  color: whitesmoke;
  font-size: 10px;
}

.logo {
  float: left;
  width: 150px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #db2964;
  color: #fff;
}

#change {
  color: cyan;
  font-size: 20px;
}

.slide {
  color: white;
  font-size: 3em;
  animation-duration: 3s;
  animation-name: slidein; /* NOTES: This will use the keyframe rule on line 82 */
}

.speech-bubble {
  position: relative;
  width: 238px;
  padding: 60px 71px;
  margin: -1em auto 5px;
  text-align: center;
  color: #fff;
  background: #075698;
  /* css3 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background: -moz-linear-gradient(#2e88c4, #075698);
  background: -o-linear-gradient(#2e88c4, #075698);
  background: linear-gradient(#2e88c4, #075698);
  border-radius: 220px / 120px; /* Note: The -webkit- prefex isn't needed for border-radius anymore. Other CSS properties do still need it though. You can find out which ones still need prefixes at caniuse.com */
}

.speech-bubble p {
  font-size: 15px;
}

/* creates the larger circle */
.speech-bubble:before {
  content: "";
  position: absolute;
  bottom: 22px;
  left: -35px;
  width: 44px;
  height: 47px;
  background: #075698;
  /* css3 */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* creates the smaller circle */
.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -65px;
  width: 31px;
  height: 31px;
  background: #075698;
  /* css3 */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.bubble-container {
  display: flex;
  align-items: flex-end;
}

.text-container {
  margin: 10%;
  padding: 30px;
  color: whitesmoke;
  background-color: rgba(15, 15, 15, 0.5);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.page-title {
  font-size: 25px;
  color: white;
}

table, td {
  border: 10px solid rgb(26, 2, 71);
  table-layout: auto
}

thead, tfoot {
  background-color: rgb(36, 2, 2);
  color: rgb(91, 214, 19);
  text-shadow: 0vmax;
}

.color {
  color: rgb(230, 226, 175);
  font-size: 35px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex {
  display: flex;
}

#teams { /* NOTES: Try to use classes instead of id when possible. You can have many classes on the same element. */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#teams td, #teas th {
  border: 1px solid #ddd;
  padding: 8px;
}

#teams tr:nth-child(even) {
  background-color: #f2f2f2;
}

#teams tr:hover {
  background-color: rgb(230, 111, 210);
}

#teams th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.center {
  text-align: center;
  font-size: 25px;
  background-color: cornflowerblue;
}

#gif {
  float: left;
  width: 200px;
  border: 0;
}

.button {
  background-color: slateblue;
  font-size: 30px;
}

.thx {
  float: right;
  width: 200px;
}

h2 {
  color: orangered;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#contact {
  margin: auto;
  width: auto;
  border-block-start-color: cornflowerblue;
  border-block-end-color: aqua;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* FORM ELEMENTS */
.element {
  color: aqua;
  font-size: large;
  padding: 20px; /* NOTES: Padding is always a good idea when framing content inside a box. */
}

label {
  display: block;
}

fieldset { /* NOTES: Added this to remove the borders on all fieldsets. */
  border: none;
}
